<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>SDEventsShown</string>
			<key>Title</key>
			<string>EVENTS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>SDBirthsShown</string>
			<key>Title</key>
			<string>BIRTHDAYS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>SDDeathsShown</string>
			<key>Title</key>
			<string>DEATHS</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>descending</string>
			<key>Key</key>
			<string>SDEventSortOrder</string>
			<key>Title</key>
			<string>SORT_ORDER</string>
			<key>Titles</key>
			<array>
				<string>LATEST_TO_OLDEST</string>
				<string>OLDEST_TO_LATEST</string>
			</array>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Values</key>
			<array>
				<string>descending</string>
				<string>ascending</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>automatic</string>
			<key>Key</key>
			<string>SDPreferredLanguage</string>
			<key>Title</key>
			<string>LANGUAGE</string>
			<key>Titles</key>
			<array>
				<string>LANGUAGE_AUTOMATIC</string>
				<string>LANGUAGE_ENGLISH</string>
				<string>LANGUAGE_GERMAN</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>automatic</string>
				<string>en</string>
				<string>de</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>COPYRIGHT</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>TSABuildID</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<string>1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>2.2 (53)</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ACKNOWLEDGEMENTS</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
