<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<dict>
			<key>title</key>
			<string>有名な絵画</string>
			<key>bookmarks</key>
			<array>
				<dict>
					<key>title</key>
					<string>アルノルフィーニ夫妻像</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%82%A2%E3%83%AB%E3%83%8E%E3%83%AB%E3%83%95%E3%82%A3%E3%83%BC%E3%83%8B%E5%A4%AB%E5%A6%BB%E5%83%8F</string>
				</dict>
				<dict>
					<key>title</key>
					<string>モナ・リザ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%A2%E3%83%8A%E3%83%BB%E3%83%AA%E3%82%B6</string>
				</dict>
				<dict>
					<key>title</key>
					<string>幼児虐殺</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E5%B9%BC%E5%85%90%E8%99%90%E6%AE%BA</string>
				</dict>
				<dict>
					<key>title</key>
					<string>夜警 (絵画)</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E5%A4%9C%E8%AD%A6_%28%E7%B5%B5%E7%94%BB%29</string>
				</dict>
				<dict>
					<key>title</key>
					<string>真珠の耳飾りの少女</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E7%9C%9F%E7%8F%A0%E3%81%AE%E8%80%B3%E9%A3%BE%E3%82%8A%E3%81%AE%E5%B0%91%E5%A5%B3</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ジュリエット・レカミエ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%82%B8%E3%83%A5%E3%83%AA%E3%82%A8%E3%83%83%E3%83%88%E3%83%BB%E3%83%AC%E3%82%AB%E3%83%9F%E3%82%A8</string>
				</dict>
				<dict>
					<key>title</key>
					<string>富嶽三十六景</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E7%A5%9E%E5%A5%88%E5%B7%9D%E6%B2%96%E6%B5%AA%E8%A3%8F</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ひまわり (絵画)</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%81%B2%E3%81%BE%E3%82%8F%E3%82%8A_%28%E7%B5%B5%E7%94%BB%29</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>画家</string>
			<key>bookmarks</key>
			<array>
				<dict>
					<key>title</key>
					<string>レオナルド・ダ・ヴィンチ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%AC%E3%82%AA%E3%83%8A%E3%83%AB%E3%83%89%E3%83%BB%E3%83%80%E3%83%BB%E3%83%B4%E3%82%A3%E3%83%B3%E3%83%81</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ヨハネス・フェルメール</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%A8%E3%83%8F%E3%83%8D%E3%82%B9%E3%83%BB%E3%83%95%E3%82%A7%E3%83%AB%E3%83%A1%E3%83%BC%E3%83%AB</string>
				</dict>
				<dict>
					<key>title</key>
					<string>パブロ・ピカソ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%91%E3%83%96%E3%83%AD%E3%83%BB%E3%83%94%E3%82%AB%E3%82%BD</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ジャスパー・ジョーンズ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%82%B8%E3%83%A3%E3%82%B9%E3%83%91%E3%83%BC%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%BC%E3%83%B3%E3%82%BA</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ミケランジェロ・ブオナローティ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%9F%E3%82%B1%E3%83%A9%E3%83%B3%E3%82%B8%E3%82%A7%E3%83%AD%E3%83%BB%E3%83%96%E3%82%AA%E3%83%8A%E3%83%AD%E3%83%BC%E3%83%86%E3%82%A3</string>
				</dict>
				<dict>
					<key>title</key>
					<string>葛飾北斎</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E8%91%9B%E9%A3%BE%E5%8C%97%E6%96%8E</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ラファエロ・サンティ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%A9%E3%83%95%E3%82%A1%E3%82%A8%E3%83%AD%E3%83%BB%E3%82%B5%E3%83%B3%E3%83%86%E3%82%A3</string>
				</dict>
				<dict>
					<key>title</key>
					<string>レンブラント・ファン・レイン</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%AC%E3%83%B3%E3%83%96%E3%83%A9%E3%83%B3%E3%83%88%E3%83%BB%E3%83%95%E3%82%A1%E3%83%B3%E3%83%BB%E3%83%AC%E3%82%A4%E3%83%B3</string>
				</dict>
				<dict>
					<key>title</key>
					<string>トマス・ゲインズバラ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%88%E3%83%9E%E3%82%B9%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%B3%E3%82%BA%E3%83%90%E3%83%A9</string>
				</dict>
				<dict>
					<key>title</key>
					<string>フィンセント・ファン・ゴッホ</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A3%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%88%E3%83%BB%E3%83%95%E3%82%A1%E3%83%B3%E3%83%BB%E3%82%B4%E3%83%83%E3%83%9B</string>
				</dict>
				<dict>
					<key>title</key>
					<string>ロイ・リキテンスタイン</string>
					<key>URL</key>
					<string>http://ja.wikipedia.org/wiki/%E3%83%AD%E3%82%A4%E3%83%BB%E3%83%AA%E3%82%AD%E3%83%86%E3%83%B3%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%B3</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>items</key>
	<array>
		<dict>
			<key>title</key>
			<string>ポスト印象派</string>
			<key>URL</key>
			<string>http://ja.wikipedia.org/wiki/%E3%83%9D%E3%82%B9%E3%83%88%E5%8D%B0%E8%B1%A1%E6%B4%BE</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ルネサンス</string>
			<key>URL</key>
			<string>http://ja.wikipedia.org/wiki/%E3%83%AB%E3%83%8D%E3%82%B5%E3%83%B3%E3%82%B9</string>
		</dict>
		<dict>
			<key>title</key>
			<string>シュルレアリスム</string>
			<key>URL</key>
			<string>http://ja.wikipedia.org/wiki/%E3%82%B7%E3%83%A5%E3%83%AB%E3%83%AC%E3%82%A2%E3%83%AA%E3%82%B9%E3%83%A0</string>
		</dict>
	</array>
</dict>
</plist>
